<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>HomePage</title>
</head>
<body>
    <%- include('./partials/nav') %>
    lmao
    <a href="/user/signup">signup</a>
    <a href="/user/signin">signin</a>
    <%- include('./partials/script') %>
</body>

</html>